body{
	color: #136406;
	font-family: 'Montserat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
}
.container{
	max-width: 1600px;
	margin: 0 auto;
}
.li{
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 100px;
	margin-top: 20px;
	font-size: 17px;
}
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}
.decor{
    text-decoration: none;
	color: #000000;
}
.ul{
	display: flex;
	flex-direction: row;

}
.bugatti{
	max-width: 480px;
	max-height: 270px;
}
@media (max-width: 576px){
	.bg{
		color: #FF0000;
	}
}

